body {
    background-color: lightgray;
}

.calc-display {
    background-color: lightblue;
    border: 1px solid blue;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);  
    gap: 10px; 
    width: 100%; 
    margin: 0 auto; 
}

.calc-buttons {
    background-color: lightblue;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
